.recommend
  h2.recommend__title Также рекомендуем
  .recommend__list
    a.recommend__item(href="#")
      .recommend__photo-wrapper
        img.recommend__photo(src="images/item-6.jpg", alt="Фотография товара")
      .recommend__details
        p.recommend__abstract Герметик для замковых соединений Clic Protect 0,125кг
        p.recommend__price 
          strong 465,00 
          | руб/шт
    a.recommend__item(href="#")
      .recommend__photo-wrapper
        img.recommend__photo(src="images/item-6.jpg", alt="Фотография товара")
      .recommend__details
        p.recommend__abstract Паста для восстановления паркета и ламината, бук, 50 г
        p.recommend__price 
          strong 263,00 
          | руб/шт
    a.recommend__item(href="#")
      .recommend__photo-wrapper
        img.recommend__photo(src="images/item-6.jpg", alt="Фотография товара")
      .recommend__details
        p.recommend__abstract Порог алюминиевый Угол-990, медь, 100x3,75 см
        p.recommend__price 
          strong 174,00 
          | руб/шт
    a.recommend__item(href="#")
      .recommend__photo-wrapper
        img.recommend__photo(src="images/item-6.jpg", alt="Фотография товара")
      .recommend__details
        p.recommend__abstract Ламинат CLS City Мозаика
        p.recommend__price 
          strong 234,00 
          | руб/шт
