extends ../elements/layout/layout.jade

block content
  include ../elements/banner/banner.jade
  include ../elements/title/title.jade
  +title('БЕСТСЕЛЛЕРЫ', 'popular')
  include ../elements/bestseller/bestseller.jade
  +title('Лучшие предложения', 'best')
  
  include ../elements/item/item.jade
  
  include ../elements/information/information.jade
