.item__list
  
  .item.item_low
    a.item__brief(href="#")
      .item__photo-wrapper
        img.item__photo(src="images/item-5.jpg", alt="Фотография")
      h3.item__title Ламинат Forest Дуб Современный D8006, 8 мм (2,13 м2), 32 класс
      p.item__comments Отзывы: 
        strong (6)
      p.item__articul Артикул: 
        strong 13850434
      p.item__price
        strong 311,31 
        | м2 /руб
        
        
      
  .item.item_limited
    a.item__brief(href="#")
      .item__photo-wrapper
        img.item__photo(src="images/item-4.jpg", alt="Фотография")
      h3.item__title Ламинат Forest Дуб Современный D8006, 8 мм (2,13 м2), 32 класс
      p.item__comments Отзывы: 
        strong (6)
      p.item__articul Артикул: 
        strong 13850434
      p.item__price
        strong 311,31 
        | м2 /руб
      
  .item.item_best
    a.item__brief(href="#")
      .item__photo-wrapper
        img.item__photo(src="images/item-5.jpg", alt="Фотография")
      h3.item__title Ламинат Forest Дуб Современный D8006, 8 мм (2,13 м2), 32 класс
      p.item__comments Отзывы: 
        strong (6)
      p.item__articul Артикул: 
        strong 13850434
      p.item__price
        strong 311,31 
        | м2 /руб
      
  .item.item_low
    a.item__brief(href="#")
      .item__photo-wrapper
        img.item__photo(src="images/item-4.jpg", alt="Фотография")
      h3.item__title Ламинат Forest Дуб Современный D8006, 8 мм (2,13 м2), 32 класс
      p.item__comments Отзывы: 
        strong (6)
      p.item__articul Артикул: 
        strong 13850434
      p.item__price
        strong 311,31 
        | м2 /руб
      
  .item.item_limited
    a.item__brief(href="#")
      .item__photo-wrapper
        img.item__photo(src="images/item-5.jpg", alt="Фотография")
      h3.item__title Ламинат Forest Дуб Современный D8006, 8 мм (2,13 м2), 32 класс
      p.item__comments Отзывы: 
        strong (6)
      p.item__articul Артикул: 
        strong 13850434
      p.item__price
        strong 311,31 
        | м2 /руб
      
  .item.item_best
    a.item__brief(href="#")
      .item__photo-wrapper
        img.item__photo(src="images/item-4.jpg", alt="Фотография")
      h3.item__title Ламинат Forest Дуб Современный D8006, 8 мм (2,13 м2), 32 класс
      p.item__comments Отзывы: 
        strong (6)
      p.item__articul Артикул: 
        strong 13850434
      p.item__price
        strong 311,31 
        | м2 /руб
      
