.item__list
  
  .item.item_low
    a.item__brief(href="#")
      .item__photo-wrapper
        img.item__photo(src="images/item-5.jpg", alt="Фотография")
      h3.item__title Ламинат Forest Дуб Современный D8006, 8 мм (2,13 м2), 32 класс
      p.item__comments Отзывы: 
        strong (6)
      p.item__articul Артикул: 
        strong 13850434
      p.item__price
        strong 311,31 
        | м2 /руб
    
    .item__full
      
      .item__full-photo-wrapper
        img.item__full-photo(src="images/item-big.jpg", alt="Большая фотография")
          
      .item__full-details
        h2.item__full-title Ламинат CLS City Мозаика
        p.item__full-abstract 7 мм (2,252 м2), 32 класс
        
        ul.item__full-statistics
          li.item__full-metric
            span.item__full-metric-name Артикул:
            span.item__full-metric-value 12029257
          li.item__full-metric
            span.item__full-metric-name Веc, кг:
            span.item__full-metric-value 15
          li.item__full-metric
            span.item__full-metric-name Страна-производитель:
            span.item__full-metric-value Германия
          li.item__full-metric
            span.item__full-metric-name Толщина, мм:
            span.item__full-metric-value 7
          li.item__full-metric
            span.item__full-metric-name Метраж пачки, м2:
            span.item__full-metric-value 2,252
          li.item__full-metric
            span.item__full-metric-name Класс износостойкости:
            span.item__full-metric-value 32
          li.item__full-metric
            span.item__full-metric-name Артикул:
            span.item__full-metric-value 12029257
          li.item__full-metric
            span.item__full-metric-name Веc, кг:
            span.item__full-metric-value 15
          li.item__full-metric
            span.item__full-metric-name Страна-производитель:
            span.item__full-metric-value Германия
          li.item__full-metric
            span.item__full-metric-name Толщина, мм:
            span.item__full-metric-value 7
          li.item__full-metric
            span.item__full-metric-name Метраж пачки, м2:
            span.item__full-metric-value 2,252
          li.item__full-metric
            span.item__full-metric-name Класс износостойкости:
            span.item__full-metric-value 32
        
        p.item__full-price
          span.item__full-price-m 
            strong 518,70 
            | руб/м2 
          span.item__full-price-i 
            strong 1168,11 
            | руб/шт
          
        a.item__buy(href="#") Купить
        a.item__save(href="#") В список покупок
          
      
      ul.item__statistics
        li.item__metric.item__metric_count Доступно онлайн: 914 шт.
        li.item__metric.item__metric_delivery Доставим 16.07.2015 
        li.item__metric.item__metric_compare
          a(href="#") Сравнить  
        li.item__metric.item__metric_responce
          a(href="#") Отзывы (12) 

      include ../recommend/recommend.jade
        
  .item.item_limited
    a.item__brief(href="#")
      .item__photo-wrapper
        img.item__photo(src="images/item-4.jpg", alt="Фотография")
      h3.item__title Ламинат Forest Дуб Современный D8006, 8 мм (2,13 м2), 32 класс
      p.item__comments Отзывы: 
        strong (6)
      p.item__articul Артикул: 
        strong 13850434
      p.item__price
        strong 311,31 
        | м2 /руб
    
    .item__full
      
      .item__full-photo-wrapper
        img.item__full-photo(src="images/item-big.jpg", alt="Большая фотография")
          
      .item__full-details
        h2.item__full-title Ламинат CLS City Мозаика
        p.item__full-abstract 7 мм (2,252 м2), 32 класс
        
        ul.item__full-statistics
          li.item__full-metric
            span.item__full-metric-name Артикул:
            span.item__full-metric-value 12029257
          li.item__full-metric
            span.item__full-metric-name Веc, кг:
            span.item__full-metric-value 15
          li.item__full-metric
            span.item__full-metric-name Страна-производитель:
            span.item__full-metric-value Германия
          li.item__full-metric
            span.item__full-metric-name Толщина, мм:
            span.item__full-metric-value 7
          li.item__full-metric
            span.item__full-metric-name Метраж пачки, м2:
            span.item__full-metric-value 2,252
          li.item__full-metric
            span.item__full-metric-name Класс износостойкости:
            span.item__full-metric-value 32
          li.item__full-metric
            span.item__full-metric-name Артикул:
            span.item__full-metric-value 12029257
          li.item__full-metric
            span.item__full-metric-name Веc, кг:
            span.item__full-metric-value 15
          li.item__full-metric
            span.item__full-metric-name Страна-производитель:
            span.item__full-metric-value Германия
          li.item__full-metric
            span.item__full-metric-name Толщина, мм:
            span.item__full-metric-value 7
          li.item__full-metric
            span.item__full-metric-name Метраж пачки, м2:
            span.item__full-metric-value 2,252
          li.item__full-metric
            span.item__full-metric-name Класс износостойкости:
            span.item__full-metric-value 32
        
        p.item__full-price
          span.item__full-price-m 
            strong 518,70 
            | руб/м2 
          span.item__full-price-i 
            strong 1168,11 
            | руб/шт
          
        a.item__buy(href="#") Купить
        a.item__save(href="#") В список покупок
          
      
      ul.item__statistics
        li.item__metric.item__metric_count Доступно онлайн: 914 шт.
        li.item__metric.item__metric_delivery Доставим 16.07.2015 
        li.item__metric.item__metric_compare
          a(href="#") Сравнить  
        li.item__metric.item__metric_responce
          a(href="#") Отзывы (12) 

      include ../recommend/recommend.jade
      
  .item.item_best
    a.item__brief(href="#")
      .item__photo-wrapper
        img.item__photo(src="images/item-5.jpg", alt="Фотография")
      h3.item__title Ламинат Forest Дуб Современный D8006, 8 мм (2,13 м2), 32 класс
      p.item__comments Отзывы: 
        strong (6)
      p.item__articul Артикул: 
        strong 13850434
      p.item__price
        strong 311,31 
        | м2 /руб
    
    .item__full
      
      .item__full-photo-wrapper
        img.item__full-photo(src="images/item-big.jpg", alt="Большая фотография")
          
      .item__full-details
        h2.item__full-title Ламинат CLS City Мозаика
        p.item__full-abstract 7 мм (2,252 м2), 32 класс
        
        ul.item__full-statistics
          li.item__full-metric
            span.item__full-metric-name Артикул:
            span.item__full-metric-value 12029257
          li.item__full-metric
            span.item__full-metric-name Веc, кг:
            span.item__full-metric-value 15
          li.item__full-metric
            span.item__full-metric-name Страна-производитель:
            span.item__full-metric-value Германия
          li.item__full-metric
            span.item__full-metric-name Толщина, мм:
            span.item__full-metric-value 7
          li.item__full-metric
            span.item__full-metric-name Метраж пачки, м2:
            span.item__full-metric-value 2,252
          li.item__full-metric
            span.item__full-metric-name Класс износостойкости:
            span.item__full-metric-value 32
          li.item__full-metric
            span.item__full-metric-name Артикул:
            span.item__full-metric-value 12029257
          li.item__full-metric
            span.item__full-metric-name Веc, кг:
            span.item__full-metric-value 15
          li.item__full-metric
            span.item__full-metric-name Страна-производитель:
            span.item__full-metric-value Германия
          li.item__full-metric
            span.item__full-metric-name Толщина, мм:
            span.item__full-metric-value 7
          li.item__full-metric
            span.item__full-metric-name Метраж пачки, м2:
            span.item__full-metric-value 2,252
          li.item__full-metric
            span.item__full-metric-name Класс износостойкости:
            span.item__full-metric-value 32
        
        p.item__full-price
          span.item__full-price-m 
            strong 518,70 
            | руб/м2 
          span.item__full-price-i 
            strong 1168,11 
            | руб/шт
          
        a.item__buy(href="#") Купить
        a.item__save.item__save_saved(href="#") В список покупок
          
      
      ul.item__statistics
        li.item__metric.item__metric_count Доступно онлайн: 914 шт.
        li.item__metric.item__metric_delivery Доставим 16.07.2015 
        li.item__metric.item__metric_compare
          a(href="#") Сравнить  
        li.item__metric.item__metric_responce
          a(href="#") Отзывы (12) 

      include ../recommend/recommend.jade
      
  .item.item_low
    a.item__brief(href="#")
      .item__photo-wrapper
        img.item__photo(src="images/item-4.jpg", alt="Фотография")
      h3.item__title Ламинат Forest Дуб Современный D8006, 8 мм (2,13 м2), 32 класс
      p.item__comments Отзывы: 
        strong (6)
      p.item__articul Артикул: 
        strong 13850434
      p.item__price
        strong 311,31 
        | м2 /руб
    
    .item__full
      
      .item__full-photo-wrapper
        img.item__full-photo(src="images/item-big.jpg", alt="Большая фотография")
          
      .item__full-details
        h2.item__full-title Ламинат CLS City Мозаика
        p.item__full-abstract 7 мм (2,252 м2), 32 класс
        
        ul.item__full-statistics
          li.item__full-metric
            span.item__full-metric-name Артикул:
            span.item__full-metric-value 12029257
          li.item__full-metric
            span.item__full-metric-name Веc, кг:
            span.item__full-metric-value 15
          li.item__full-metric
            span.item__full-metric-name Страна-производитель:
            span.item__full-metric-value Германия
          li.item__full-metric
            span.item__full-metric-name Толщина, мм:
            span.item__full-metric-value 7
          li.item__full-metric
            span.item__full-metric-name Метраж пачки, м2:
            span.item__full-metric-value 2,252
          li.item__full-metric
            span.item__full-metric-name Класс износостойкости:
            span.item__full-metric-value 32
          li.item__full-metric
            span.item__full-metric-name Артикул:
            span.item__full-metric-value 12029257
          li.item__full-metric
            span.item__full-metric-name Веc, кг:
            span.item__full-metric-value 15
          li.item__full-metric
            span.item__full-metric-name Страна-производитель:
            span.item__full-metric-value Германия
          li.item__full-metric
            span.item__full-metric-name Толщина, мм:
            span.item__full-metric-value 7
          li.item__full-metric
            span.item__full-metric-name Метраж пачки, м2:
            span.item__full-metric-value 2,252
          li.item__full-metric
            span.item__full-metric-name Класс износостойкости:
            span.item__full-metric-value 32
        
        p.item__full-price
          span.item__full-price-m 
            strong 518,70 
            | руб/м2 
          span.item__full-price-i 
            strong 1168,11 
            | руб/шт
          
        a.item__buy(href="#") Купить
        a.item__save(href="#") В список покупок
          
      
      ul.item__statistics
        li.item__metric.item__metric_count Доступно онлайн: 914 шт.
        li.item__metric.item__metric_delivery Доставим 16.07.2015 
        li.item__metric.item__metric_compare
          a(href="#") Сравнить  
        li.item__metric.item__metric_responce
          a(href="#") Отзывы (12) 

      include ../recommend/recommend.jade
      
  .item.item_limited
    a.item__brief(href="#")
      .item__photo-wrapper
        img.item__photo(src="images/item-5.jpg", alt="Фотография")
      h3.item__title Ламинат Forest Дуб Современный D8006, 8 мм (2,13 м2), 32 класс
      p.item__comments Отзывы: 
        strong (6)
      p.item__articul Артикул: 
        strong 13850434
      p.item__price
        strong 311,31 
        | м2 /руб
    
    .item__full
      
      .item__full-photo-wrapper
        img.item__full-photo(src="images/item-big.jpg", alt="Большая фотография")
          
      .item__full-details
        h2.item__full-title Ламинат CLS City Мозаика
        p.item__full-abstract 7 мм (2,252 м2), 32 класс
        
        ul.item__full-statistics
          li.item__full-metric
            span.item__full-metric-name Артикул:
            span.item__full-metric-value 12029257
          li.item__full-metric
            span.item__full-metric-name Веc, кг:
            span.item__full-metric-value 15
          li.item__full-metric
            span.item__full-metric-name Страна-производитель:
            span.item__full-metric-value Германия
          li.item__full-metric
            span.item__full-metric-name Толщина, мм:
            span.item__full-metric-value 7
          li.item__full-metric
            span.item__full-metric-name Метраж пачки, м2:
            span.item__full-metric-value 2,252
          li.item__full-metric
            span.item__full-metric-name Класс износостойкости:
            span.item__full-metric-value 32
          li.item__full-metric
            span.item__full-metric-name Артикул:
            span.item__full-metric-value 12029257
          li.item__full-metric
            span.item__full-metric-name Веc, кг:
            span.item__full-metric-value 15
          li.item__full-metric
            span.item__full-metric-name Страна-производитель:
            span.item__full-metric-value Германия
          li.item__full-metric
            span.item__full-metric-name Толщина, мм:
            span.item__full-metric-value 7
          li.item__full-metric
            span.item__full-metric-name Метраж пачки, м2:
            span.item__full-metric-value 2,252
          li.item__full-metric
            span.item__full-metric-name Класс износостойкости:
            span.item__full-metric-value 32
        
        p.item__full-price
          span.item__full-price-m 
            strong 518,70 
            | руб/м2 
          span.item__full-price-i 
            strong 1168,11 
            | руб/шт
          
        a.item__buy(href="#") Купить
        a.item__save(href="#") В список покупок
          
      
      ul.item__statistics
        li.item__metric.item__metric_count Доступно онлайн: 914 шт.
        li.item__metric.item__metric_delivery Доставим 16.07.2015 
        li.item__metric.item__metric_compare
          a(href="#") Сравнить  
        li.item__metric.item__metric_responce
          a(href="#") Отзывы (12) 

      include ../recommend/recommend.jade
      
  .item.item_best
    a.item__brief(href="#")
      .item__photo-wrapper
        img.item__photo(src="images/item-4.jpg", alt="Фотография")
      h3.item__title Ламинат Forest Дуб Современный D8006, 8 мм (2,13 м2), 32 класс
      p.item__comments Отзывы: 
        strong (6)
      p.item__articul Артикул: 
        strong 13850434
      p.item__price
        strong 311,31 
        | м2 /руб
    
    .item__full
      
      .item__full-photo-wrapper
        img.item__full-photo(src="images/item-big.jpg", alt="Большая фотография")
          
      .item__full-details
        h2.item__full-title Ламинат CLS City Мозаика
        p.item__full-abstract 7 мм (2,252 м2), 32 класс
        
        ul.item__full-statistics
          li.item__full-metric
            span.item__full-metric-name Артикул:
            span.item__full-metric-value 12029257
          li.item__full-metric
            span.item__full-metric-name Веc, кг:
            span.item__full-metric-value 15
          li.item__full-metric
            span.item__full-metric-name Страна-производитель:
            span.item__full-metric-value Германия
          li.item__full-metric
            span.item__full-metric-name Толщина, мм:
            span.item__full-metric-value 7
          li.item__full-metric
            span.item__full-metric-name Метраж пачки, м2:
            span.item__full-metric-value 2,252
          li.item__full-metric
            span.item__full-metric-name Класс износостойкости:
            span.item__full-metric-value 32
          li.item__full-metric
            span.item__full-metric-name Артикул:
            span.item__full-metric-value 12029257
          li.item__full-metric
            span.item__full-metric-name Веc, кг:
            span.item__full-metric-value 15
          li.item__full-metric
            span.item__full-metric-name Страна-производитель:
            span.item__full-metric-value Германия
          li.item__full-metric
            span.item__full-metric-name Толщина, мм:
            span.item__full-metric-value 7
          li.item__full-metric
            span.item__full-metric-name Метраж пачки, м2:
            span.item__full-metric-value 2,252
          li.item__full-metric
            span.item__full-metric-name Класс износостойкости:
            span.item__full-metric-value 32
        
        p.item__full-price
          span.item__full-price-m 
            strong 518,70 
            | руб/м2 
          span.item__full-price-i 
            strong 1168,11 
            | руб/шт
          
        a.item__buy(href="#") Купить
        a.item__save.item__save_saved(href="#") В список покупок
          
      
      ul.item__statistics
        li.item__metric.item__metric_count Доступно онлайн: 914 шт.
        li.item__metric.item__metric_delivery Доставим 16.07.2015 
        li.item__metric.item__metric_compare
          a(href="#") Сравнить  
        li.item__metric.item__metric_responce
          a(href="#") Отзывы (12) 

      include ../recommend/recommend.jade
      
