@import "../../helpers/*"


.item

  width 295px
  height 380px
  position relative
  margin 0 12px 10px 0
  float left
  color $black
  background $white

  &:hover
    z-index 100
    .item__additional
      display block
    .item__brief
      padding 20px 20px 0
      height 359px
      z-index 102

  &__available
    font-size 13px
    padding 0 0 0 35px
    line-height 30px
    margin 0 0 20px
    display inline-block
    color $grey
    text-decoration none
    background: url("../images/card.png") 5px 50% no-repeat;
    strong
      color $black
      font-weight bold
      white-space nowrap

  &__available-in-the-city
    font-size 13px
    line-height 15px
    padding 0
    white-space nowrap
    display inline-block
    margin 0 0 30px 35px
    color $black
    text-decoration none
    border-bottom 1px dotted $black
    position relative
    &:before
      content ""
      width 35px
      height 15px
      right 100%
      top 0
      background: url("../images/count.svg") 0 50% no-repeat;
      background-size auto 28px
      display block
      overflow hidden
      position absolute
    &:hover
      border-color transparent

  &__send-me-email
    background-color $yellow
    font-size 15px
    line-height 32px
    text-align center
    display block
    text-decoration none
    border-radius 3px
    color $black
    margin -20px 0 30px
    z-index 123
    position relative
    transition background-color .25s
    &:hover
      background-color $orange

  &__compare
    padding 0 0 0 35px
    margin 0 20px 0 0
    font-size 14px
    line-height 32px
    text-decoration none
    background url("../images/compare.svg") 2px 50% no-repeat
    background-size auto 24px
    &:hover
      text-decoration underline

  &__additional
    display none
    position absolute
    top 0
    left 0
    right 0

    box-shadow 0 0 16px 0 rgba(#000, .1)

    background-color $white
    border solid $green
    border-width 0 1px 1px

    padding 380px 10px 20px

    z-index 101

  &__statistics
    border-top 1px solid $mid-white
    border-bottom 1px solid $mid-white
    padding 20px 0
    clearit()
    margin 0 30px

  &__metric
    float left
    line-height 50px
    font-size 14px
    white-space nowrap
    padding 0 0 0 35px
    margin 0 60px 0 0
    box-sizing border-box
    &_count
      background url("../images/count.svg") 0 50% no-repeat
    &_delivery
      background url("../images/delivery.svg") 0 50% no-repeat
    &_compare
      background url("../images/compare.svg") 0 50% no-repeat
    &_responce
      background url("../images/responce.svg") 0 50% no-repeat
    a
      text-decoration none
      &:hover
        text-decoration underline

  &_open
    width 905px
    height 770px
    &:hover .item__additional,
    .item__additional
      display none
    .item__brief
      opacity 0
      pointer-events none
      z-index -1
    .item__full
      opacity 1
      z-index 1
      pointer-events all

  &_low
    .item__brief
      border-top 1px solid $red
      &:after
        content ""
        display block
        position absolute
        top 0
        right 160px
        border-color transparent $red transparent transparent
        border-width 0 20px 20px 0
        border-style solid
        height 0
        width 0
        overflow hidden
      &:before
        white-space nowrap
        content "низкие цены каждый день!"
        width 140px
        background-color $red
        color $yellow
        position absolute
        top 0
        right 0
        font-size 9px
        text-transform uppercase
        padding 0 10px
        line-height 20px

  &_best
    .item__brief
      border-top 1px solid $yellow
      &:after
        content ""
        display block
        position absolute
        top 0
        right 160px
        border-color transparent $yellow transparent transparent
        border-width 0 20px 20px 0
        border-style solid
        height 0
        width 0
        overflow hidden
      &:before
        white-space nowrap
        content "лучшая цена!"
        width 140px
        background-color $yellow
        color $black
        position absolute
        top 0
        right 0
        font-size 9px
        text-transform uppercase
        padding 0 10px
        line-height 20px

  &_limited
    .item__brief:after
      content ""
      display block
      position absolute
      top 0
      right 160px
      border-color transparent $black transparent transparent
      border-width 0 20px 20px 0
      border-style solid
      height 0
      width 0
      overflow hidden
    .item__brief:before
      white-space nowrap
      content "предложение ограничено!"
      width 140px
      background-color $black
      color $yellow
      position absolute
      top 0
      right 0
      font-size 9px
      text-transform uppercase
      padding 0 10px
      line-height 20px

  &__price
    clear both
    border-top 1px solid $dark-white
    text-align center
    line-height 55px
    font-size 13px
    color $black
    strong
      font-size 26px
      font-weight bold

  &__save
    white-space nowrap
    text-decoration none
    font-size 14px
    &:hover
      text-decoration underline
    &:before
      icon('\e805')
      font-size 22px
      margin 0 10px 0 0
      position relative
      top -3px
    &_saved:before
      icon('\e804')
      font-size 22px

  &__buy
    width 200px
    height 45px
    display inline-block
    text-align center
    text-decoration none
    background-color $pink
    line-height 45px
    color $white
    text-transform uppercase
    margin 0 30px 0 0
    transition background-color .25s
    &:hover
      background-color darken($pink, 20%)

  &__full
    opacity 0
    pointer-events none
    z-index -1

    transition opacity 1s

    position absolute
    top 0
    left 0

    width 905px
    height 770px

    background $white
    overflow hidden

    &-statistics
      height 158px
      overflow hidden
      padding 0 35px 0 0
      margin 10px 0
      position relative

    &-metric
      line-height 30px
      color $mid-grey
      clearit()
      box-shadow inset 0 15px 0 0 $white, inset 0 16px 0 0 $light-grey
      &-name
        float left
        font-size 14px
        font-weight bold
        background-color $white
        padding 0 5px 0 0
      &-value
        float right
        background-color $white
        padding 0 0 0 5px


    &-price
      line-height 30px
      margin 0 0 30px
      clearit()
      &-m
        font-size 13px
        font-weight bold
        margin 0 10px 0 0
        strong
          font-size 26px
      &-i
        font-size 14px
        background-color $light-grey
        padding 2px 5px


    &-title
      font-size 26px
      line-height 30px
      color $dark-grey
      margin 20px 0 0

    &-abstract
      font-size 18px
      line-height 30px
      color $grey

    &-details
      width 405px
      height 380px
      padding 0 25px 0 475px

    &-photo
      display inline-block
      vertical-align middle
      max-width 100%
      max-height 100%
      &-wrapper
        height 380px
        width 475px
        line-height 380px
        text-align center
        position absolute
        top 0
        left 0

  &__brief
    text-decoration none
    color $black
    position relative
    width 295px
    height 379px
    border-top 1px solid $black
    padding 20px
    box-sizing border-box

    opacity 1
    transition opacity 1s

    position absolute
    top 0
    left 0

    transition transform .25s, opacity .25s

  &__title
    font-size 14px
    line-height 17px
    color $mid-grey
    margin 0 0 17px
  &__comments
    float left
    font-size 13px
    color $grey
    line-height 17px
    margin 0 0 17px
    strong
      color $green
      font-weight normal
  &__articul
    float right
    font-size 13px
    color $grey
    line-height 17px
    margin 0 0 17px
    strong
      font-weight bold
      color $black
  &__photo
    margin auto
    vertical-align middle
    display inline-block
    &-wrapper
      height 200px
      width 255px
      text-align center
      line-height 200px
  &__list
    position relative
    width 1230px
    margin 0 0 40px
    clearit()
