@import "../../helpers/*"


.information
  clearit()
  clear both
  padding 40px 0 0
  &__column
    width 50%
    padding 0 0 0 10px
    box-sizing border-box
    float left
    &:first-child
      padding 0 10px 0 0
  &__section
    margin 0 0 20px
    &_open
      .information__title
        &:after
          margin-top -2px
          content '\e803'

      // .information__body
      //   display block
  &__body
    display none

    background-color $white
    padding 10px 30px 30px
    font-size 14px
    line-height 20px
    color $mid-grey

    p
      margin 20px 0
  &__subtitle
    font-size 16px
    line-height 20px
    font-weight bold
    margin 20px 0
  &__header
    background url("../images/info-bg.jpg") 0px 0px no-repeat
    background-size cover
    padding 10px
    transition box-shadow .25s, color .25s
    box-shadow inset 0 0 0 1000px rgba($green, 1)
    cursor pointer
    position relative
    &:hover
      box-shadow inset 0 0 0 1000px rgba($green, 0)
      .circle
        opacity 1
      .information__title
        border-color $yellow
        color $yellow
  &__title
    border 2px solid $white
    padding 16px 70px 16px 20px
    line-height 44px
    height 44px
    color $white
    transitio border-color .25s
    position relative
    &:after
      icon('\e800')
      position absolute
      top 0
      bottom 0
      right 0
      width 55px
      line-height 76px
      text-align center
    span
      color $white
      line-height 22px
      vertical-align middle
      display inline-block

  .circle
    position absolute
    right 25px
    top 50%
    margin -16px 0 0 -16px
    width 30px
    height 30px
    border-radius 100%
    opacity 0

    transition opacity .25s

    box-shadow 0 0 0 1px rgba($yellow, .8)
    animation pulse 1s .5s infinite

    &_second.circle
      transform scale(1.25, 1.25)
      box-shadow 0 0 0 1px rgba($yellow, .4)
      animation secondpulse 1s 0s infinite

    &_third
      transform scale(1, 1)
      box-shadow 0 0 0 1px rgba($yellow, .8)
      animation thirdpulse 1s 0s infinite





@keyframes pulse {
  0% {
    transform scale(.65, .65)
    box-shadow 0 0 0 1px rgba($yellow, 0)
    }
  50%{
    box-shadow 0 0 0 1px rgba($yellow, .6)
    }
  100% {
    transform scale(1.5, 1.5)
    box-shadow 0 0 0 1px rgba($yellow, 0)
    }
  }

@keyframes secondpulse {
  0% {
    transform scale(.65, .65)
    box-shadow 0 0 0 1px rgba($yellow, 0)
    }
  50%{
    box-shadow 0 0 0 1px rgba($yellow, .6)
    }
  100% {
    transform scale(1.5, 1.5)
    box-shadow 0 0 0 1px rgba($yellow, 0)
    }
  }

@keyframes thirdpulse {
  0% {
    transform scale(1.5, 1.5)
    box-shadow 0 0 0 1px rgba($yellow, 0)
    }
  50%{
    box-shadow 0 0 0 1px rgba($yellow, .6)
    }
  100% {
    transform scale(.65, .65)
    box-shadow 0 0 0 1px rgba($yellow, 0)
    }
  }
