section.information
  .information__column
    
    .information__section
      .information__header
        h2.information__title: span Как правильно и без проблем укладывать ламинат?
        button.information__toggle(type="button")
      .information__body
        h3.information__subtitle Уход за ламинированным напольным покрытием
        p Ламинат — это напольное покрытие на основе ДВП высокой плотности (HDF), устойчивое к истиранию, образованию царапин и пятен, воздействию солнечного света (выгоранию), химикатов и тлеющих сигарет. Современная замковая система соединения панелей обеспечивает легкость "плавающей" укладки, т.е. без крепления панелей к основанию.
        h3.information__subtitle Поделиться:
        
    .information__section
      .information__header
        h2.information__title: span Как правильно и без проблем укладывать ламинат?
        button.information__toggle(type="button")
      .information__body
        h3.information__subtitle Уход за ламинированным напольным покрытием
        p Ламинат — это напольное покрытие на основе ДВП высокой плотности (HDF), устойчивое к истиранию, образованию царапин и пятен, воздействию солнечного света (выгоранию), химикатов и тлеющих сигарет. Современная замковая система соединения панелей обеспечивает легкость "плавающей" укладки, т.е. без крепления панелей к основанию.
        h3.information__subtitle Поделиться:
        
    .information__section.information__section_open
      .information__header
        h2.information__title: span Полезные советы по уходу за ламинатом
        button.information__toggle(type="button")
      .information__body
        h3.information__subtitle Уход за ламинированным напольным покрытием
        p Ламинат — это напольное покрытие на основе ДВП высокой плотности (HDF), устойчивое к истиранию, образованию царапин и пятен, воздействию солнечного света (выгоранию), химикатов и тлеющих сигарет. Современная замковая система соединения панелей обеспечивает легкость "плавающей" укладки, т.е. без крепления панелей к основанию.
        h3.information__subtitle Поделиться:
    
  .information__column
    
    .information__section
      .information__header
        h2.information__title: span Как выбрать порог в зависимости от его назначения?
        button.information__toggle(type="button")
      .information__body
        h3.information__subtitle Уход за ламинированным напольным покрытием
        p Ламинат — это напольное покрытие на основе ДВП высокой плотности (HDF), устойчивое к истиранию, образованию царапин и пятен, воздействию солнечного света (выгоранию), химикатов и тлеющих сигарет. Современная замковая система соединения панелей обеспечивает легкость "плавающей" укладки, т.е. без крепления панелей к основанию.
        h3.information__subtitle Поделиться:
        
    .information__section
      .information__header
        h2.information__title: span Как правильно укладывать ламинат с формирования первого ряда из двух досок? 
        button.information__toggle(type="button")
      .information__body
        h3.information__subtitle Уход за ламинированным напольным покрытием
        p Ламинат — это напольное покрытие на основе ДВП высокой плотности (HDF), устойчивое к истиранию, образованию царапин и пятен, воздействию солнечного света (выгоранию), химикатов и тлеющих сигарет. Современная замковая система соединения панелей обеспечивает легкость "плавающей" укладки, т.е. без крепления панелей к основанию.
        h3.information__subtitle Поделиться:
        
    .information__section
      .information__header
        h2.information__title: span Уход за ламинированным напольным покрытием
        button.information__toggle(type="button")
      .information__body
        h3.information__subtitle Уход за ламинированным напольным покрытием
        p Ламинат — это напольное покрытие на основе ДВП высокой плотности (HDF), устойчивое к истиранию, образованию царапин и пятен, воздействию солнечного света (выгоранию), химикатов и тлеющих сигарет. Современная замковая система соединения панелей обеспечивает легкость "плавающей" укладки, т.е. без крепления панелей к основанию.
        h3.information__subtitle Поделиться:
        
    .information__section
      .information__header
        h2.information__title: span Необходимые инструменты для укладки ламината
        button.information__toggle(type="button")
      .information__body
        h3.information__subtitle Уход за ламинированным напольным покрытием
        p Ламинат — это напольное покрытие на основе ДВП высокой плотности (HDF), устойчивое к истиранию, образованию царапин и пятен, воздействию солнечного света (выгоранию), химикатов и тлеющих сигарет. Современная замковая система соединения панелей обеспечивает легкость "плавающей" укладки, т.е. без крепления панелей к основанию.
        h3.information__subtitle Поделиться:
    
