$green = #66c05d


$white = #fff
$dark-white = #efefef
$darker-white = #e1e1e1
$mid-white = #dcdcdc
$red = #ec1d23
$orange = #ff9900
$pink = #ec1d23

$black = #000

$grey = #787878
$mid-grey = #454545
$dark-grey = #393939
$light-grey = #f1f1f1
$light-green = #66c05d


$yellow = #f7ea08
