icon(code)
  speak none
  display inline-block
  vertical-align middle
  font normal normal normal 14px/1 "fontello"
  font-size inherit
  text-rendering auto
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  transform translate(0, 0)
  content code

clearit()
  &:after
    content "."
    display block
    font-size 0
    line-height 0
    overflow hidden
    clear both
    height 0

clearbutton()
  padding 0
  margin 0
  border-style none
  background none
