.bestseller
  //- menu.bestseller__controls
  //-   button.bestseller__next(type="button")
  //-   button.bestseller__prev(type="button")
  .bestseller__wrapper
    a.bestseller__item(href="#")
      img(src="images/item-1.jpg", alt="Фотография")
      .bestseller__item-details
        h3.bestseller__item-title Ламинат Comfort Super
        p.bestseller__item-abstract Дуб Мальбрук, 8 мм (2,14 м2), 33 класс
        
    a.bestseller__item(href="#")
      img(src="images/item-2.jpg", alt="Фотография")
      .bestseller__item-details
        h3.bestseller__item-title Ламинат Comfort Super
        p.bestseller__item-abstract Дуб Мальбрук, 8 мм (2,14 м2), 33 класс
        
    a.bestseller__item(href="#")
      img(src="images/item-3.jpg", alt="Фотография")
      .bestseller__item-details
        h3.bestseller__item-title Ламинат Comfort Super
        p.bestseller__item-abstract Дуб Мальбрук, 8 мм (2,14 м2), 33 класс
        
    a.bestseller__item(href="#")
      img(src="images/item-1.jpg", alt="Фотография")
      .bestseller__item-details
        h3.bestseller__item-title Ламинат Comfort Super
        p.bestseller__item-abstract Дуб Мальбрук, 8 мм (2,14 м2), 33 класс
        
    a.bestseller__item(href="#")
      img(src="images/item-2.jpg", alt="Фотография")
      .bestseller__item-details
        h3.bestseller__item-title Ламинат Comfort Super
        p.bestseller__item-abstract Дуб Мальбрук, 8 мм (2,14 м2), 33 класс
        
    a.bestseller__item(href="#")
      img(src="images/item-3.jpg", alt="Фотография")
      .bestseller__item-details
        h3.bestseller__item-title Ламинат Comfort Super
        p.bestseller__item-abstract Дуб Мальбрук, 8 мм (2,14 м2), 33 класс
